[user]
    email = cd.clovel19@gmail.com
    name = Clovis Durand
    #signingkey = XXX
[color]
    ui = auto
[alias]
    st = status -s
    continue = rebase --continue
    skip = rebase --skip
    amend = commit --amend
    la = log --graph --color --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    co = checkout
    cp = cherry-pick
[core]
    editor = vim
[credential]
    helper = osxkeychain #macOS
    #helper = cache #Linux, temporary. Can add `--timeout 30000` to set timeout
